
* {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: 100;
  background: none;
  border: none;

  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

button {
  cursor: pointer;
}
